* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Arial', sans-serif; /* This will set the default font for the entire body of your website */
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif; /* This will set headings to a different font */
}

p {
  font-family: sans-serif;
}